html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background:linear-gradient(-45deg, #000000, #1d1d77, #4873a1 )
}
.button{

    color: rgb(0, 0, 0);
    width: 100%;
    position: relative;
    height: 40px;
    background-color: #4054c4;
    border: none;
    border-radius: 9px;
    
}
.button:hover {

  color: #eceef3;

}
.form-signin {
  
  max-width: 600px;
  height: 795px;
  position: relative;
  bottom: 5%;
  background: rgba(0, 0, 0, 0.418);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;

}

.form-signin input1{

  background-color: rgba(255, 255, 255, 0.680);
  outline: none;
  width: 20px;
  position: relative;
  margin-top: 10px;
  border: 2px solid transparent;
  font-size: 15px;
  color: #f7eeee;
  transform: all 0.4s ease;

}

.form-signin input{

  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 5px;
 
}

.form-signin h1{ 

  position: relative;
  top: -20px;
  font-size: 25px;
}

.checkbox {
    color: #FFF;
    font-style: #fff;
    

}
.checkbox  mb-3 {
    color: rgb(255, 255, 255);
    font-style: rgb(255, 255, 255);
    position: absolute;
    right: 100px;
    display: fel;
}
.mb-4 {

  position: relative;
  top: 40px;
}

.registro {

    color: rgb(255, 255, 255);
    font-size:  25px;

}

.agaquatro {
  color: #FFF;
  font-size:  20px;
  margin-top: 20px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.error-validation{
  color: #FF1A1A;
  position: absolute;
  top: 63px;
  font-size: .8rem;
}

.template{
  display: none;
}

