*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

label.form-label {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

label.form-check-label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.gradient {
 background:linear-gradient(-45deg, #000000, #1d1d77, #4873a1 );
 background-size: 300%, 300%;
 animation: colors 15s ease infinite;
}



@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.card {
  background: rgba(0, 0, 0, 0.185);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.errorInput {
  border: 1px solid rgb(202, 44, 44) !important
}

