html,
body {
  height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{

 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background:linear-gradient(-45deg, #000000, #1d1d77, #4873a1 );

}

.button{

    color: rgb(0, 0, 0);
    width: 80%;
    position: relative;
    height: 40px;
    margin-top: -8vh;
    background-color: #4054c4;
    border: none;
    border-radius: 9px;
    
}
.button:hover {

  color: #eceef3;

}

.form-signin  {

  position: relative;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.418);
  padding: 6vh;
  border-radius: 10px;
  width: min-content;
  justify-content: center;

} 


.form-signin input{

   
  background-color: rgba(255, 255, 255, 0.680);
  outline: none;
  border: 2px solid transparent;
  position: relative;
  padding: 10px;
  font-size: 20px;
  color: #030202;

}

.form-floating input {

  position: relative;
  top: -11vh;
  border-radius: 5px;
  height: fit-content;
  font-size: 15px;
  color: fff;

}


.form-floating label {

    position: absolute;
    top: -11vh;

}

.form-signin h1{ 

  position: relative;
  top: -35px;
  top: -13vh;
  font-size: 25px;
  color: #f7eeee;
}

.checkbox {
    color: #FFF;
    font-style: #fff;
}
.checkbox  mb-3 {

    color: rgb(255, 255, 255);
    font-style: rgb(255, 255, 255);
    position: relative;
    bottom: 10vh;
    display: flex;
}
.mb-4 {

  position: relative;
  top: -7vh;
}


.box1 {

  position: relative;
  right: 130px;

} 
.box2{

  position: relative;
  right: 83.5px;

}
.box3 {

  position: relative;
  left: 120px;
  top: -48px;

}
.box4{ 

  position: relative;
  left: 113px;
  top: -48px;

} 

.box5{ 

  position: relative;
  

}
.agadois{

    color: rgb(255, 255, 255);
    font-size:  25px;
    position: fixed;
    top: 100%;
}

.agaquatro {
  color: #FFF;
  font-size:  22px;
  margin-top: -10vh;
  align-items: center;

}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.errorInput {
  border: 1px solid rgb(202, 44, 44) !important
}

